body {
    background-color: #199e19;
}

.container {
    background-image: url("img/pokemon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.fas {
    cursor: pointer;
    color: green;
}